<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
            <form [formGroup]="productForm" (ngSubmit)="updateProductData(productForm.value)">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['name'].valid && (productForm.controls['name'].touched)">
                        <div [hidden]="!productForm.controls['name'].errors.required">
                            Name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>num</label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="desc" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['num'].valid && (productForm.controls['desc'].touched)">
                        <div [hidden]="!productForm.controls['desc'].errors.required">
                            Phonenumber is required.
                        </div>
                        <div [hidden]="!productForm.controls['desc'].errors.minlength">
                            Number must be have 10 character length.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="number" class="form-control" placeholder="price" formControlName="price" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['price'].valid && (productForm.controls['price'].touched)">
                        <div [hidden]="!productForm.controls['price'].errors.required">
                            Email is required.
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>

            </form>
        </div>
    </div>
</div> -->

<div class="container">
    <a routerLink="/">Back Home</a>
    <!-- Default form login -->
    <!-- <form class="text-center border border-light p-5" [formGroup]="phonebookForm"> -->
    <p class="h4 mb-4">New Phonebook Entry</p>

    <input type="text" class="form-control mb-4" formControlName="name" placeholder="Name">
    <input type="number" class="form-control mb-4" formControlName="phone" placeholder="Phone">
    <input type="email" class="form-control mb-4" formControlName="email" placeholder="Email">

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Update</button>
    <!-- </form> -->
    <!-- Default form login -->
</div>