<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
            <form [formGroup]="productForm" (ngSubmit)="updateProductData(productForm.value)">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['name'].valid && (productForm.controls['name'].touched)">
                        <div [hidden]="!productForm.controls['name'].errors.required">
                            Name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>num</label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="desc" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['num'].valid && (productForm.controls['desc'].touched)">
                        <div [hidden]="!productForm.controls['desc'].errors.required">
                            Phonenumber is required.
                        </div>
                        <div [hidden]="!productForm.controls['desc'].errors.minlength">
                            Number must be have 10 character length.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="number" class="form-control" placeholder="price" formControlName="price" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['price'].valid && (productForm.controls['price'].touched)">
                        <div [hidden]="!productForm.controls['price'].errors.required">
                            Email is required.
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>

            </form>
        </div>
    </div>
</div> -->

<div class="container">


    <div class="row">

        <a class="pl-3" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </a>


        <p class="h4 mb-4 pl-5">New Phonebook Entry</p>

    </div>

    <form formGroup="phonebookForm" (ngSubmit)="onSubmit()">

        <input type="text" class="form-control mb-4" formControlName="name" placeholder={{name}}>
        <input type="number" class="form-control mb-4" formControlName="phone" placeholder={{phone}}>
        <input type="email" class="form-control mb-4" formControlName="email" placeholder={{email}}>


        <button mdbBtn color="info" block="true" class="my-4" type="submit">Update</button>
        <!-- (click)="updatePhonebook()" -->

    </form>

</div>